{% extends "polls/base.html" %}
{% load static %}

{% block content %}

{#<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">#}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        {% if question.can_vote %}
            <li>{{ question.question_text }} <a class="btn btn-primary btn-sm" href="{% url 'polls:detail' question.id %}" role="button">Vote</a> <a class="btn btn-secondary btn-sm" href="{% url 'polls:results' question.id %}" role="button">Result</a> </li>
        {% else %}
            <li>{{ question.question_text }} <button type="button" class="btn btn-primary btn-sm" disabled>Vote</button> <a class="btn btn-secondary btn-sm" href="{% url 'polls:results' question.id %}" role="button">Result</a> </li>
        {% endif %}

    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}